@font-face {
  font-family: "TTLakes-Regular";
  src: url("../fonts/TTLakes-Regular.woff");
}
@font-face {
  font-family: "TTLakes-Medium";
  src: url("../fonts/TTLakes-Medium.woff");
}
@font-face {
  font-family: "TTLakes-Bold";
  src: url("../fonts/TTLakes-Bold.woff");
}
.body {
  min-width: 320px;
  font-family: "TTLakes-Regular", sans-serif;
  background-color: #F8F8F8;
}

.header {
  background-color: #FFF;
}
.header__container {
  display: flex;
  min-height: 88px;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 24px;
}
.header__logo {
  max-width: 96px;
  margin-left: 16px;
}
.header__btn-menu {
  position: relative;
  background-image: url("../images/menu-burger-ico.svg");
}
.header__wrap-nav {
  display: flex;
  margin-left: auto;
}
.header__contact {
  display: none;
}
.header__repair {
  display: flex;
  gap: 16px;
  margin-left: auto;
  padding-left: 20px;
  position: relative;
}
.header__repair::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1rem;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
}

.btn {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #FF3E79;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.btn--repair {
  background-image: url("../images/tools-ico.svg");
}
.btn--check-status {
  background-image: url("../images/checkstatus-ico.svg");
}
.btn--phone {
  background-image: url("../images/phone-ico.svg");
}
.btn--chat {
  background-image: url("../images/chat-ico.svg");
}
.btn--profile {
  background-image: url("../images/profile-ico.svg");
}
.btn:hover, .btn:focus {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.main__wrap {
  margin-bottom: 35px;
}

.about-us__title {
  position: relative;
  font-family: "TTLakes-Bold";
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 40px;
  padding-left: 16px;
  margin: 0;
}
.about-us__title::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 0 1rem 1rem 0;
}
.about-us__head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.about-us__description {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.wrap-btns {
  display: none;
  padding-right: 32px;
}

.nav__btn-label {
  font-family: "TTLakes-Medium", sans-serif;
  font-weight: 500;
}
.nav__btn-label:hover {
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}

.nav {
  max-width: 1096px;
  padding-left: 16px;
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  overflow-y: scroll;
  padding-bottom: 10px;
  padding-right: 16px;
  margin-bottom: 24px;
}

.nav__item {
  flex-shrink: 0;
  padding: 8px 9px 8px 16px;
}
.nav__item--active {
  background-color: #FFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.nav__item--active .nav__link:hover,
.nav__item--active .nav__link:focus {
  color: #7E7E82;
}

.nav__link {
  color: #7E7E82;
  font-family: "TTLakes-Medium";
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.nav__link:hover, .nav__link:focus {
  color: black;
}

.link-read-more {
  color: #1B1C21;
  font-size: 16px;
  font-family: "TTLakes-Medium";
  font-weight: 500;
  text-decoration: none;
}
.link-read-more::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../images/two-arrow-down-icon.svg") no-repeat left bottom;
}
.link-read-more:hover, .link-read-more:focus {
  color: #7E7E82;
  transition: color 0.4s ease;
}

.wrap {
  font-size: 14px;
  gap: 16px;
}
.wrap__description-text {
  padding: 0 16px;
  height: 88px;
  overflow: hidden;
}

.desc-text {
  color: #1B1C21;
  line-height: 18px;
  letter-spacing: 0.2px;
}
.desc-text:not(:last-child) {
  margin-bottom: 15px;
}

.about-us__link-read-more {
  display: inline-block;
  margin-left: 25px;
}

.about-us__img {
  width: 100%;
  height: auto;
  border-radius: 0;
}
/*# sourceMappingURL=style.css.map */