.header {
  background-color: #FFF;
  box-shadow: 0 1px 0 #d9fff5;
}
.header__container {
  display: flex;
  min-height: 88px;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 24px;
}
.header__logo {
  max-width: 96px;
  margin-left: 16px;
}
.header__btn-menu {
  position: relative;
}

.btn--open-menu {
  background-image: url("../../images/menu-burger-ico.svg");
}
.header__nav {
  display: flex;
  margin-left: auto;
}
.header__contact {
  display: none;
}
.header__repair {
  display: flex;
  gap: 16px;
  margin-left: auto;
  padding-left: 20px;
  position: relative;
}
.header__repair::before {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #EAEAEA;
  border-radius: 1rem;
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
}

@media (min-width: 510px) {
  .header__btn-menu::after {
    content: "";
    display: block;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1rem;
    transform: translateY(-50%);
    position: absolute;
    right: -20px;
    top: 50%;
  }
  .header__logo {
    margin-left: 40px;
  }
  .header__contact {
    display: flex;
    gap: 16px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .header__container {
    padding: 0 24px;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}