.btn-show-all {
  color: #1B1C21;
  font-size: 16px;
  font-family: "TTLakes-Medium";
  font-weight: 500;
  border: none;
  background-color: transparent;
  padding-left: 16px;
  cursor: pointer;
  
  &::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../images/two-arrow-down-icon.svg") no-repeat left bottom;
  }
  
  &--close::before {
    transform: rotate(-180deg);
    background-position: right top;
  }
  
  &:hover,
  &:focus {
    color: #7E7E82;
    transition: color 0.4s ease;
  }
}
