.modal {
  min-width: 320px;
  max-width: 440px;
  height: 100vh;
  background-color: #FFF;
  color: #FFF;
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 0;
  margin-left: auto;
  z-index: 10;
  border-width: 0;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  padding: 0;
  
  @media (min-width: 513px) {
    border-width: 0 0 0 1px;
    border-color: aquamarine;
  }
  
  &__wrapper {
    padding-top: 64px;
    margin-top: -40px;
    height: inherit;
    margin-left: auto;
    
    @media (min-width: 513px) {
      padding-top: 32px;
    }
  }

  &__btn-close {
    position: relative;
    margin-bottom: 40px;
    left: 16px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 30%;
      width: 16px;
      height: 16px;
      background: url(../images/close-menu-ico.svg) no-repeat center/cover;
      transform: translateY(-50%);
    }

    @media(min-width: 513px) {
      margin-bottom: 0;
      left: -72px;
      top: 36px;
    }
  }

  &__btn-send {
    width: 119px;
    height: 32px;
    margin-left: auto;
  }

  &__title {
    color: #1B1C21;
    padding-left: 16px;
    margin-bottom: 24px;
     &::before {
      left: 0;
     }
  }

  &__note-desc {
    color: #7E7E82;
    font-size: 14px;
    max-width: 376px;
  }

  &__form {
    display: grid;
    row-gap: 10px;
    margin-bottom: 16px;
    padding: 0 16px;
    font-family: 'TTLakes-Medium', sans-serif;
    font-weight: 500;
  }

  &__modal-open {
    overflow: hidden;
  }
}