.prices {
  &__wrapper {
    padding: 0 0 0 16px;
    margin-bottom: 32px;
    
    @media (min-width: 768px) {
      padding: 0 0 0 24px;
    }
  }

  &__title {
    padding: 16px 0;
    margin-bottom: 16px;
    @media (min-width: 768px) {
      margin-bottom: 24px;
      
    }
    @media (min-width: 1120px) {
      margin-bottom: 32px;
    }
  }

  &__gallery {
    padding-right: 24px;

    &::after {
      content: " ";
      position: absolute;
      z-index: 1;
      right: 0;
      transform: translateY(-240px);
      width: 24px;
      height: 200px;
      background-image: linear-gradient( 270deg, $secondary-background 16.84%, rgba(248, 248, 248, 0.0001) 100% );

      @media (min-width: 768px) {
        content: '';
        z-index: 0;
        width: 0;
        height: 0;
      }
    }
    
  }

  &__list {
    display: flex;
    margin-bottom: 40px;
    @media(min-width: 768px) {
      width: auto;
      display: grid;
      grid-template-rows: 32px repeat(4, 1fr);
      background-color: $secondary-background;
      margin-bottom: 24px;
    }
    
    @media(min-width: 1120px) {
      margin-bottom: 32px;
    }
  }

  &__item {
    width: auto;

    &-head,
    &-head .prices-card {
      background-color: $main-background;
      border-bottom: none;
      color: #7E7E82;
      opacity: 0.72;
      padding-top: 0;
    }

    &:first-child  {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &:nth-child(2) {
      border-radius: 6px 6px 0 0;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;
    }

    &:last-child .prices-card {
      border-bottom: none;
    }
    
    
    @media (min-width: 768px) {
      margin-right: 0 !important;
      padding: 0 16px;
    }

    @media (min-width: 1120px) {
      padding: 0 24px;
    }
  }

  &__note {
    min-width: 288px;
    padding-right: 16px;
    margin-bottom: 40px;
    
    @media (min-width: 768px) {
      padding-right: 24px;
      max-width: 435px;
      margin-bottom: 47px;
    }
  }
  
  .note{
    &__desc {
      margin-bottom: 16px;
      font-size: 14px;
    }
  
    &__link {
      font-family: 'TTLakes-Medium', sans-serif;
      font-weight: 500;
      text-decoration: none;
      color: #1B1C21;
      font-size: 16px;
      
      &::after {
        content: '';
        display: inline-flex;
        background-image: url('../images/arrow-right.svg');
        background-size: cover;
        width: 8px;
        height: 12px;
        margin-left: 9px;
        vertical-align: middle;
      }

      &:hover,
      &:focus {
        opacity: .7;
        transition: opacity 1s;
      }
    }
  }
}