
.page-ordersAndServices__wrapper {
  margin-left: 0;
  @media (min-width: 1120px) {
    display: grid;
    grid-template-columns: 320px 1fr;
  }
  
  @media (min-width: 1366px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.blur-visible {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: #FFF;
  opacity: 0.96;
  overflow-y: hidden;
}

.modal {
  min-width: 320px;
  max-width: 440px;
  height: 100vh;
  background-color: #FFF;
  color: #FFF;
  position: absolute;
  top: 0;
  margin-left: auto;
  z-index: 10;
  border-width: 0;
  box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2);
  
  @media (min-width: 513px) {
    border-width: 0 0 0 1px;
    border-color: aquamarine;
  }
  
  &__wrapper {
    padding-top: 64px;
    margin-top: -40px;
    height: inherit;
    margin-left: auto;
  }

  &__btn-close {
    position: relative;
    margin-bottom: 40px;
    left: 16px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 30%;
      width: 16px;
      height: 16px;
      background: url(../images/close-menu-ico.svg) no-repeat center/cover;
      transform: translateY(-50%);
    }

    @media(min-width: 513px) {
      margin-bottom: 0;
      left: -72px;
      top: 36px;
    }
  }

  &__btn-send {
    width: 119px;
    height: 32px;
    margin-left: auto;
  }

  &__title {
    color: #1B1C21;
    padding-left: 16px;
    margin-bottom: 24px;
     &::before {
      left: 0;
     }
  }

  &__note-desc {
    color: #7E7E82;
    font-size: 14px;
    max-width: 376px;
  }

  

  &__form {
    display: grid;
    row-gap: 10px;
    margin-bottom: 16px;
    padding: 0 16px;
    font-family: 'TTLakes-Medium', sans-serif;
    font-weight: 500;
  }
}

.form {
  &__input,
  &__textarea {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
  }

  &__textarea {
    height: 118px;
    resize: none;
  }
}

.note-desc-link {
  text-decoration: none;
  color: #FF3E79;
}
