.about-us {
  gap: 16px;

  @media (min-width: 1120px) {
    gap: 36px;
  }

  &__wrapper {
    margin-bottom: 24px;

    @media (min-width: 768px) {
      display: flex;
      flex-wrap: nowrap;
      gap: 48px;
      padding-right: 24px;
      margin-bottom: 32px;
    }

    @media (min-width: 1120px) {
      margin-bottom: 51px;
    }
  }

  &__wrap-text {
    @media (min-width: 768px) {
      min-width: 360px;
    }
    @media (min-width: 1120px) {
      max-width: 530px;
    }
  }

  &__description-text {
    font-size: 14px;
    padding: 0 16px;
    height: 88px;
    overflow: hidden;

    @media (min-width: 510px) {
      padding: 0 16px;
    }

    @media (min-width: 768px) {
      padding: 0 24px;
      height: 160px;
    }

    @media (min-width: 1120px) {
      padding: 0 0 0 32px;
      height: auto;
    }
  }

  &__desc-text {
    color: #1B1C21;
    line-height: 18px;
    letter-spacing: 0.2px;
    
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__link-read-more {
    display: inline-block;
    margin-left: 25px;

    @media (min-width: 768px) {
      margin-left: 33px;
    }

    @media (min-width: 1120px) {
      margin-left: 40px;
    }
  }
  
  &__img {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-top: 16px;

    @media (min-width: 510px) {
      margin-left: 16px;
      border-radius: 6px;
      max-width: 531px;
    }

    @media (min-width: 768px) {
      margin-left: 0;
    }

    @media (min-width: 1120px) {
      margin: 0;
    }
  }
}